*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bloque1 {
    width: 1400px;
    height: 250px;
    background-color: rgb(253, 198, 95);
    padding: 10px;
    margin: 20px auto;
    position: relative; 
    top: -20px;
 }


 .box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 190, 69);
    margin-left: 100px;
 }
 
 .titulo1 {
    width: 300px;
    height: 30px;
    background-color: rgb(255, 160, 62);
    margin-left: 600px;
    margin-top: -180px;
}

.texto2 {
    width: 500px;
    height: 10px;
    background-color: white;
    margin-left: 600px;
    margin-top: 25px;
}

.texto3 {
    width: 300px;
    height: 10px;
    background-color: white;
    margin-left: 600px;
    margin-top: 25px;
}