*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bloque1 {
    width: 1400px;
    height: 250px;
    background-color: rgb(253, 198, 95);
    padding: 10px;
    margin: 20px auto;
    position: relative; 
    top: -20px;
 }


 .box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 190, 69);
    margin-left: 100px;
    margin-top: 10px;
 }
 
 .titulo1 {
    width: 300px;
    height: 30px;
    background-color: rgb(255, 160, 62);
    margin-left: 600px;
    margin-top: -180px;
}

.texto2 {
    width: 500px;
    height: 10px;
    background-color: white;
    margin-left: 600px;
    margin-top: 25px;
}

.texto3 {
    width: 300px;
    height: 10px;
    background-color: white;
    margin-left: 600px;
    margin-top: 25px;
}


.cuadrado1 {
    width: 200px;
    height: 200px;
    background-color: rgb(111, 191, 192);
    margin-left: 100px;
    margin-top: 100px;
}

.cuadradito1 {
    width: 100px;
    height: 100px;
    background-color: #80969c;
    margin-left: 150px;
    margin-top: -150px;
}

.linea1 {
    width: 200px;
    height: 25px;
    background-color: #80969c;
    margin-left: 100px;
    margin-top: -150px;
}

.cuadrado2 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 124, 124);
    margin-left: 600px;
    margin-top: -30px;
}

.cuadradito2 {
    width: 100px;
    height: 100px;
    background-color: #c55656;
    margin-left: 650px;
    margin-top: -150px;
}

.linea2 {
    width: 200px;
    height: 25px;
    background-color: #c55656;
    margin-left: 600px;
    margin-top: -150px;
}

.cuadrado3 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 235, 124);
    margin-left: 1100px;
    margin-top: -25px;
}

.cuadradito3 {
    width: 100px;
    height: 100px;
    background-color: #e6e345;
    margin-left: 1150px;
    margin-top: -150px;
}

.linea3 {
    width: 200px;
    height: 25px;
    background-color: #e6e345;
    margin-left: 1100px;
    margin-top: -150px;
}

.cuadrado4 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 235, 124);
    margin-left: 100px;
    margin-top: 250px;
}

.cuadradito4 {
    width: 100px;
    height: 100px;
    background-color: #e6e345;
    margin-left: 150px;
    margin-top: -150px;
}

.linea4 {
    width: 200px;
    height: 25px;
    background-color: #e6e345;
    margin-left: 100px;
    margin-top: -150px;
}


.cuadrado5 {
    width: 200px;
    height: 200px;
    background-color: rgb(111, 191, 192);
    margin-left: 600px;
    margin-top: -25px;
}

.cuadradito5 {
    width: 100px;
    height: 100px;
    background-color: #80969c;
    margin-left: 650px;
    margin-top: -150px;
}

.linea5 {
    width: 200px;
    height: 25px;
    background-color: #80969c;
    margin-left: 600px;
    margin-top: -150px;
}

.cuadrado6 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 124, 124);
    margin-left: 1100px;
    margin-top: -30px;
}

.cuadradito6 {
    width: 100px;
    height: 100px;
    background-color: #c55656;
    margin-left: 1150px;
    margin-top: -150px;
}

.linea6 {
    width: 200px;
    height: 25px;
    background-color: #c55656;
    margin-left: 1100px;
    margin-top: -150px;
}

.Cuadradobajo {
    margin-top: 300px;
    background-color: grey;
    width: 1400px;
    height: 200px;
}